<h1>Disputed Charges</h1>

<table id="disputed-charges-table">
  <tr>
    <th>Created</th>
    <th>Amount</th>
    <th>Currency</th>
    <th>Customer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>