<h1>Failed Charges</h1>

<table id="failed-charges-table">
  <tr>
    <th>Created</th>
    <th>Paid</th>
    <th>Amount</th>
    <th>Currency</th>
    <th>Refunded</th>
    <th>Customer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>