<h1>Successful Charges</h1>

<table id="successful-charges-table">
  <tr>
    <th>Created</th>
    <th>Paid</th>
    <th>Amount</th>
    <th>Currency</th>
    <th>Refunded</th>
    <th>Customer</th>
  </tr>
</table>

<br/>