// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#transactions1 table {
  border-collapse: collapse;
  tr {
    background-color:  #FF0000;
  }
  td, th {
    border: 1px solid #ee0000;
  }
}

#transactions2 table {
  border-collapse: collapse;
  tr {
    background-color:  #FF5400;
  }
  td, th {
    border: 1px solid #ee3400;
  }
}

#transactions3 table {
  border-collapse: collapse;
}