
<div id="transactions"></div>

<script type="text/javascript">
  $(function() {
    // Billing is the app name
    window.router = new Billing.Routers.TransactionsRouter({transactions: <%= @transactions.to_json(
      include: {
        :customer => {methods: [:full_name]}
      },
      methods: [:status]
      ).html_safe -%>});
    Backbone.history.start();
  });
</script>
