<h1>Edit transaction</h1>

<form id="edit-transaction" name="transaction">
  <div class="actions">
    <input type="submit" value="Update Transaction" />
  </div>

</form>

<a href="#/index">Back</a>
