<h1>Listing transactions</h1>

<table id="transactions-table">
  <thead>
    <tr>
      <th>Paid</th>
      <th>Amount</th>
      <th>Currency</th>
      <th>Refunded</th>
      <th>Customer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br/>

<a href="#/new">New Transaction</a>